<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsy.bookkeeping.mapper.AccountTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zsy.bookkeeping.model.AccountTypeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="positive_negative" property="positiveNegative" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, description, icon, positive_negative, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" parameterType="com.zsy.bookkeeping.model.AccountTypeInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account_type
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="description != null" >
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="icon != null" >
        and icon = #{icon,jdbcType=VARCHAR}
      </if>
      <if test="positiveNegative != null" >
        and positive_negative = #{positiveNegative,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null" >
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zsy.bookkeeping.model.AccountTypeInfo" >
    insert into account_type (id, description, icon, 
      positive_negative, create_time, modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{positiveNegative,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsy.bookkeeping.model.AccountTypeInfo" >
    insert into account_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="positiveNegative != null" >
        positive_negative,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="positiveNegative != null" >
        #{positiveNegative,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsy.bookkeeping.model.AccountTypeInfo" >
    update account_type
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="positiveNegative != null" >
        positive_negative = #{positiveNegative,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsy.bookkeeping.model.AccountTypeInfo" >
    update account_type
    set description = #{description,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      positive_negative = #{positiveNegative,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>